@font-face {
    font-family:'OswaldLight';
    src:url("_font/Oswald-Light-webfont.eot");
    src:url("_font/Oswald-Light-webfont.eot?#iefix") format("embedded-opentype"),url("_font/Oswald-Light-webfont.woff") format("woff"),url("_font/Oswald-Light-webfont.ttf") format("truetype"),url("_font/Oswald-Light-webfont.svg#OswaldLight") format("svg");
    font-weight:normal;
    font-style:normal
}
@font-face {
    font-family:'OswaldBook';
    src:url("_font/Oswald-Regular-webfont.eot");
    src:url("_font/Oswald-Regular-webfont.eot?#iefix") format("embedded-opentype"),url("_font/Oswald-Regular-webfont.woff") format("woff"),url("_font/Oswald-Regular-webfont.ttf") format("truetype"),url("_font/Oswald-Regular-webfont.svg#OswaldBook") format("svg");
    font-weight:normal;
    font-style:normal
}
@font-face {
    font-family:'OswaldBold';
    src:url("_font/Oswald-Bold-webfont.eot");
    src:url("_font/Oswald-Bold-webfont.eot?#iefix") format("embedded-opentype"),url("_font/Oswald-Bold-webfont.woff") format("woff"),url("_font/Oswald-Bold-webfont.ttf") format("truetype"),url("_font/Oswald-Bold-webfont.svg#OswaldBold") format("svg");
    font-weight:normal;
    font-style:normal
}
@font-face {
    font-family:'FontAwesome';
    src:url("_font/fontawesome-webfont.eot");
    src:url("_font/fontawesome-webfont.eot?#iefix") format("embedded-opentype"),url("_font/fontawesome-webfont.woff") format("woff"),url("_font/fontawesome-webfont.ttf") format("truetype");
    font-weight:normal;
    font-style:normal
}
html,body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,time,mark,audio,video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent
}
article,aside,figure,footer,header,hgroup,nav,section {
    display:block
}
html {
    font:400 10px/1.3 "Helvetica Neue","Myriad Pro",Myriad,Helvetica,Arial,sans-serif;
    -webkit-overflow-scrolling:touch;
    -webkit-tap-highlight-color:#f3f5f6;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
}
body {
    background:#fff;
    color:#333;
    font-size:15px;
    font-size:1.5rem
}
#main {
    margin-top:10px
}
#canvas {
    position:relative
}
.container {
    width:980px;
    margin:0 auto
}
.singlepage {
    padding-top:20px
}
.main,.sidebar {
    float:left;
    margin-left:20px
}
.main {
    border-right:1px solid #e1e1e1;
    padding-right:30px;
    width:592px
}
.sidebar {
    margin-left:37px;
    width:320px
}
.introduction {
    margin-left:20px;
    padding-right:30px;
    width:543px
}
article section {
    border-top:1px solid #e1e1e1;
    margin-top:28px;
    overflow:hidden;
    padding-top:20px
}
h1,h2,h3,h4,h5,h6 {
    margin:0;
    font-family:inherit;
    font-weight:700;
    color:inherit;
    text-rendering:optimizelegibility
}
h1,.h1,h2,.h2,h3,.h3 {
    color:#af4545;
    font-family:"OswaldBook",Helvetica,Arial,Verdana,sans-serif;
    font-weight:700
}
h1,.h1 {
    margin-bottom:0.25em;
    margin-top:1em;
    font-size:32px;
    font-size:3.2rem;
    line-height:1.2
}
h2,.h2 {
    margin-bottom:0.75em;
    font-size:24px;
    font-size:2.4rem;
    line-height:1.2
}
h3,.h3 {
    color:#666;
    margin-bottom:0.5em;
    font-size:20px;
    font-size:2rem;
    line-height:1.3
}
h4,.h4 {
    margin-bottom:1.5em;
    font-size:18px;
    font-size:1.8rem;
    line-height:1.25
}
h5,.h5 {
    font-size:16px;
    font-size:1.6rem;
    margin-bottom:1.5em
}
h6,.h6 {
    margin-bottom:1.5em;
    font-size:14px;
    font-size:1.4rem;
    font-weight:normal;
    letter-spacing:1px;
    text-transform:uppercase
}
small {
    font-size:14px;
    font-size:1.4rem
}
ul,ol {
    margin:0 0 0 0;
    padding:0
}
p,ol,ul,dl,address {
    margin-bottom:1.5em;
    font-size:14px;
    font-size:1.4rem;
    line-height:1.5em
}
li ul,li ol {
    margin:0;
    font-size:16px;
    font-size:1.6rem
}
blockquote {
    margin:0 0 1.5em -24px;
    padding-left:24px;
    border-left:2px solid #c7ced6;
    font-family:Cambria, Georgia, Times, "Times New Roman";
    font-style:normal
}
q {
    quotes:none
}
blockquote:before,blockquote:after,q:before,q:after {
    content:'';
    content:none
}
cite {
    font-style:normal
}
dl,dd {
    margin-bottom:1.5em
}
dt {
    font-weight:bold
}
.dl-horizontal dt {
    float:left;
    clear:left;
    width:20.25%;
    text-align:right
}
.dl-horizontal dd {
    margin-left:22.78%
}
abbr[title] {
    border-bottom:1px dotted #c7ced6;
    cursor:help
}
b,strong {
    font-weight:bold
}
hr {
    margin-bottom:1.5em
}
.unstyled,.unstyled li {
    list-style:none;
    margin:0;
    padding:0
}
.unstyled {
    margin:0 0 1em
}
.horizontal{overflow:hidden}.horizontal li{float:left}th{text-align:left}th,td{padding:.5em}.table-simple{margin:0 0 1em}.table-simple th{color:#e6bb74}article.main p,article.main ol,article.main ul,article.main dl,article.main address{font-size:16px;font-size:1.6rem}a.imglink{border:0;text-decoration:none}.alignright{float:right;margin:0 0 1.5em 1.5em}.alignleft{float:left;margin:0 1.5em 1.5em 0}.alignnone{float:none;margin:0 auto}img.size-medium{border:1px solid #999}div.wp-caption{background:#eaeaea;padding:1em}article.main div.wp-caption p.wp-caption-text{color:#666;font-size:14px;font-size:1.4rem;margin:1em 0 0}article.main div.wp-caption p.wp-caption-text small{color:#999;display:block;font-size:11px;font-size:1.1rem;padding-top:1em;text-transform:uppercase}.offsetright{clear:both;float:right;margin:0.5em 0 1em 1em}div.offsetright img{display:block;padding:1em}.mast{display:block;margin:1em auto}img.border{border:1px solid #e1e1e1}a{color:#6fa0a6;text-decoration:underline}a:visited{color:#54898f}a:hover{text-decoration:underline;color:#af4545}a:active{color:#dd9b5c}a:focus{outline:thin dotted;color:#000}a:hover,a:active{outline:0}.main a{border-bottom:1px dotted #6fa0a6;color:#6fa0a6;text-decoration:none}.main a:visited{color:#54898f}.main a:hover{border-bottom:1px solid #af4545;color:#af4545}.main a:active{color:#dd9b5c}::-moz-selection{background-color:#d6dbe1;color:#2d353e;text-shadow:none}::selection{background-color:#d6dbe1;color:#2d353e;text-shadow:none}.download{background:#666 url(_img/icons/download.png) 12px 50% no-repeat;border-radius:5px;color:#fff;display:block;line-height:1.25em;padding:10px 24px 10px 58px;text-decoration:none}.download:hover{background-color:#6e6e6e;color:#000;text-decoration:none}.download small{font-size:12px;font-size:1.2rem;font-weight:100;float:right;letter-spacing:1px;text-shadow:1px 1px 1px #000;text-transform:uppercase}.download:hover small{color:#fff}h1.h2 a{line-height:1.4}.section-search{background:#A39188;height:12em;position:relative;width:100%;z-index:10;-webkit-box-shadow:inset 0 8px 5px -5px rgba(0,0,0,0.4);-moz-box-shadow:inset 0 8px 5px -5px rgba(0,0,0,0.4);box-shadow:inset 0 8px 5px -5px rgba(0,0,0,0.4);transition:margin 500ms ease-in-out;-moz-transition:margin 500ms ease-in-out;-webkit-transition:margin 500ms ease-in-out;-o-transition:margin 500ms ease-in-out}.js .section-search{margin:-12em 0 0}.js .section-search.active{margin-top:0}.search-bar{overflow:hidden}#searchform{background:#fff;border-radius:5px;display:inline-block;margin:2em 0 0;padding:1em 2em 1em 1.5em}#searchform ul,#searchform li{list-style:none;margin:0;padding:0}#searchform ul{overflow:hidden;display:none}.js #searchform ul{display:block}#searchform li{float:left;padding:18px 0 0}#searchform li:first-child{margin-right:12px}#searchform li cite{font-style:italic}#searchform input{font-size:18px;font-size:1.8rem}#searchform input[type=text]{background:#fff;border:1px dotted #A39188;border-width:0 0 1px;overflow:hidden;width:24em}#searchform input[type=text]:focus{border:1px solid #A39188;border-width:0 0 1px 0;box-shadow:none !important}#searchform input[type=text]::selection{background:#fff;color:#A39188;text-shadow:none}#searchform input[type=submit]{background:#786256;border:0;color:#fff;font-size:1em;font-weight:700;margin:0 0 0 12px;padding:8px 12px;text-transform:uppercase}#searchform input[type=submit]:hover{background:#645147;cursor:pointer;text-shadow:1px 1px 1px #000}header{position:relative;z-index:100}#user{left:0;position:absolute;top:5px;font-size:12px;font-size:1.2rem}#user span{color:#af4545;font-weight:bold}.head{position:relative}header a.logo{float:left;margin:58px 0 0 0}.masthead{float:left}header h1{display:block;font-family:"OswaldBold",Helvetica,Arial,Verdana,sans-serif;font-weight:700;margin:120px 0 0 8px;text-transform:uppercase}header h1 a,header h1 a:link,header h1 a:visited{color:#694c3d;font-size:36px;font-size:3.6rem;text-decoration:none}header h1 a:hover{color:#af4545}header h1 a:active{color:#dd9b5c}header h1 a .icon-home{display:none;font-size:0.9em;line-height:1;margin:0 0 0 0.25em}header h1 a:hover i{display:inline;color:#af4545}header h1 a:active i{color:#dd9b5c}header nav{border:1px solid #ccc;border-width:1px 0;font-family:"OswaldBook",Helvetica,Arial,Verdana,sans-serif;letter-spacing:0.025em;padding:8px 0 6px;position:absolute;text-transform:uppercase;z-index:100}header nav ul,header nav li{list-style:none;margin:0;padding:0}header nav ul{margin-left:-8px;min-height:24px}header nav li{border-left:1px solid #ccc;float:left;line-height:1;position:relative}header nav li:first-child{border:0}header nav a{color:#333;display:inline-block;font-size:18px;font-size:1.8rem;line-height:1;padding:2px 8px 0px;text-decoration:none}header nav a:visited{color:#333;text-decoration:none}header nav a:hover{color:#af4545;text-decoration:none}header nav a:active{color:#af4545}header nav ul ul{background:#fff;-moz-box-shadow:0px 3px 3px rgba(0,0,0,0.2);-webkit-box-shadow:0px 3px 3px rgba(0,0,0,0.2);box-shadow:0px 3px 3px rgba(0,0,0,0.2);display:none;padding-top:0;position:absolute;top:24px;left:8px;float:left;width:200px;z-index:99999}header nav ul li a{line-height:1.2}header nav ul li:hover>ul{display:block}header nav ul ul li{border:0;display:block;float:none;margin:0}header nav ul ul li a{display:block;font-size:16px;font-size:1.6rem;padding:10px 8px}header nav ul ul li a:hover{background-color:#e5e6e6}header nav ul li:hover>a{color:#af4545}.nav-buttons{position:absolute;top:0;right:0;padding:8px 0 6px;text-transform:uppercase;z-index:101}.nav-buttons ul,.nav-buttons li{list-style:none;margin:0;padding:0}.nav-buttons li{float:left;margin-right:12px}.nav-buttons a{box-shadow:1px 1px 1px #eaeaea;color:#fff;font-family:"OswaldBook",Helvetica,Arial,Verdana,sans-serif;font-size:16px;font-size:1.6rem;letter-spacing:0.1em;text-decoration:none;padding:11px 17px 9px;-webkit-border-bottom-right-radius:7px;-webkit-border-bottom-left-radius:7px;-moz-border-radius-bottomright:7px;-moz-border-radius-bottomleft:7px;border-bottom-right-radius:7px;border-bottom-left-radius:7px}.nav-buttons .btn-promote a{background:#f47c2d}.nav-buttons .btn-search a{background:#a39188}.nav-buttons .btn-login a{background:#786256}.nav-buttons a:hover{text-shadow:1px 1px 1px #000}.nav-buttons .btn-promote a:hover{color:#000}.btn,a.btn,.main a.btn{background-color:#fafafa;background-image:linear-gradient(top, #fff, #e5e6e6, 25%);background-repeat:no-repeat;border:1px solid #ccc;border-bottom-color:#bbb;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);color:#333;cursor:pointer;display:inline-block;font-size:14px;font-size:1.4rem;line-height:16px;text-align:center;text-shadow:0 1px 1px rgba(255,255,255,0.75);margin-left:.3em;padding:8px 14px;text-decoration:none}.btn:hover,a.btn:hover,.main a.btn:hover{color:#333;text-decoration:none;background-color:#e5e6e6;background-position:0 -15px;-webkit-transition:background-position .1s linear;-moz-transition:background-position .1s linear;-ms-transition:background-position .1s linear;-o-transition:background-position .1s linear;transition:background-position .1s linear}.btn:focus,a.btn:focus,.main a.btn:focus{outline:5px auto 0;outline-offset:-2px}.btn:active,a.btn:active,.main a.btn:active{background-image:none;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);background-color:#d9d9d9 \9;color:#000;color:rgba(0,0,0,0.5);outline:0}.btn-large,a.btn-large,.main a.btn-large{font-size:18px;line-height:normal;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;padding:9px 14px}.btn-right{float:right;*zoom:1}.btn-right:before,.btn-right:after{display:table;line-height:0;content:""}.btn-right:after{clear:both}a.btn{color:#333}a.btn:active,a.btn:hover{color:#af4545}.box{background:#ccdbdd;margin-bottom:30px;padding:0 20px 20px;overflow:hidden}.box h1,.box h2{background:#dd9b5c;box-shadow:1px 1px 3px #666;color:#fff;display:inline-block;font-size:20px;font-size:2rem;margin:0 0 0.75em;padding:11px 17px 9px;text-transform:uppercase;-webkit-border-bottom-right-radius:7px;-webkit-border-bottom-left-radius:7px;-moz-border-radius-bottomright:7px;-moz-border-radius-bottomleft:7px;border-bottom-right-radius:7px;border-bottom-left-radius:7px}.box-inline{margin:20px 0}.box-next-meeting{margin:0 0 10px}.box-next-meeting p{font-family:"OswaldBold",Helvetica,Arial,Verdana,sans-serif;font-size:16px;font-size:1.6rem}.box-next-meeting a{color:#333;display:block;text-decoration:none}.box-next-meeting span.next-meeting-date,.box-next-meeting span.next-meeting-speaker,.box-next-meeting span.next-meeting-title{display:block}.box-next-meeting span.next-meeting-date{background:url(_img/icons/date.png) 0 0 no-repeat;font-size:24px;font-size:2.4rem;padding:8px 0 8px 40px;}.box-next-meeting span.next-meeting-speaker,.box-next-meeting span.next-meeting-title{font-family:"OswaldBook",Helvetica,Arial,Verdana,sans-serif}.box-next-meeting span.next-meeting-speaker{color:#666}.box-next-meeting span.next-meeting-title{margin:8px 0}.section-award,.section-event{border-top:1px solid #e1e1e1;padding:1em 0}.box-info h1{background:#494949}.box-info .btn{background:#fff}.box-info .btn:hover{background:#ccc}.gallery,.gallery li{background:#fff;list-style:none;margin:0;overflow:hidden;padding:0;position:relative;z-index:0}.gallery{margin-bottom:30px}.sidebar .gallery{margin:0 0 10px}.gallery figure{position:relative;z-index:0}.gallery li,.gallery figure,.gallery img,.gallery figcaption{display:block}.gallery img{height:100%;width:100%}.gallery figcaption{background:#000;background:rgba(0,0,0,0.75);bottom:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;color:#fff;font-size:12px;font-size:1.2rem;font-weight:100;left:0;padding:6px 10px;position:absolute;text-align:right;width:100%;z-index:1}.gallery li{display:none}.gallery li:first-child{display:block}.box-updates{background:#ccdbdd}.box-updates th,.box-updates td{color:#666;font-weight:400;padding:12px 6px;text-align:left;vertical-align:middle}.box-updates td.tagcell{text-align:right}.box-updates a{color:#333}.box-updates a:hover{color:#af4545}.tag{background:#666;border:1px solid #333;border-radius:5px;color:#fff;padding:4px 4px;font-size:10px;font-size:1rem;text-transform:uppercase}.tag-meeting{background:#ae1d12;border-color:#89140a}.tag-video{background:#419c96;border-color:#2b857f}.tag-download{background:#698f3c;border-color:#507525}.tag-event{background:#d38929;border-color:#884f02}.tag-job{background:#419c96;border-color:#2b857f}.tag-news{background:#6e557e;border-color:#5b3e6e}.box-join{background:#af4545;color:#fff;padding:30px}.box-join p{font-family:"OswaldBold",Helvetica,Arial,Verdana,sans-serif;font-size:24px;font-size:2.4rem;line-height:1.2;margin-bottom:.5em;text-transform:uppercase}.box-about{color:#000;padding:30px}.box-about p{font-family:"OswaldBold",Helvetica,Arial,Verdana,sans-serif;font-size:24px;font-size:2.4rem;line-height:1.2;margin-bottom:.5em;text-transform:uppercase}.box-journal p{margin:20px 0 10px}.box-journal a.cta{background:url(_img/icons/info.png) 0 50% no-repeat;color:#6fa0a6;font-family:"OswaldBook",Helvetica,Arial,Verdana,sans-serif;font-size:16px;font-size:1.6rem;line-height:1.2;padding:23px 12px 23px 45px;text-decoration:none;text-transform:uppercase}.box-journal a.cta:hover{color:#4a868d;text-shadow:1px 1px 1px #fff}.list-jobs{border-collapse:collapse;border-bottom:1px solid #e1e1e1;width:100%}.list-jobs thead td{background:#ccc}.list-jobs td{border-top:1px solid #e1e1e1;padding:0.7em 10px}.list-jobs .position{width:400px}.list-jobs .employer{width:200px}.list-jobs .location{width:200px}.list-jobs .date{width:140px}.employment-sponsor{margin-top:4em}.employment-sponsor ul,.employment-sponsor li{list-style:none;margin:0;padding:0}.employment-sponsor ul{margin-left:-20px}.employment-sponsor li{margin:10px 0 20px 20px}.link{margin-bottom:10px}.link a{background-color:#e7e7e7;background-position:20px 50%;background-repeat:no-repeat;color:#6fa0a6;display:block;font-family:"OswaldBook",Helvetica,Arial,Verdana,sans-serif;font-size:16px;font-size:1.6rem;line-height:1.2;padding:30px 12px 23px 23px;text-decoration:none}.link a:hover{background-color:#ccc;color:#4a868d;text-shadow:1px 1px 1px #fff}.sprite{display:inline-block;background:url(_img/sprite.png) 0 0 no-repeat;float:left;height:32px;overflow:hidden;padding:0;margin:0 8px 0 0;width:32px}.link .sprite{margin:23px 12px 23px 23px}.sprite-download{background-position:-224px 0}.sprite-location{background-position:-32px 0}.sprite-time{background-position:-64px 0}.sprite-join{background-position:-160px 0}.sprite-committee{background-position:-320px 0}.sprite-awards{background-position:-352px 0}.sprite-events{background-position:0 0}.sprite-training{background-position:0 0}.sprite-video{background-position:-448px 0}.sprite-links{background-position:-384px 0}.sprite-awards{background-position:-352px 0}.sprite-info{background-position:-192px 0}body.home #main{padding-top:30px}ul.corporate-members,ul.corporate-members li{list-style:none;margin:0;padding:0}ul.corporate-members{clear:both;margin-left:20px}ul.corporate-members li{margin:0 0 2em}ul.corporate-members li p{margin:0.5em 0 0}ul.highlight{color:#dd9b5c}ul.highlight span{color:#333}h1.head-chapter{margin-left:20px;margin-bottom:0.7em}h1.head-alt{color:#6fa0a6;margin-left:20px;margin-bottom:1em}h1.head-alt a{text-decoration:none}h1.head-alt a i{display:none;float:left;margin-left:-2em}h1.head-alt a:hover i{display:block}h1.head-single{color:#6fa0a6;margin-bottom:1em}h1.head-single a{text-decoration:none}h1.head-single a i{display:none;float:left;margin-left:-2em}h1.head-single a:hover i{display:block}.h2-alt{color:#6fa0a6}h1.page-title{margin-top:0}.chapter-introduction{background:#e5e6e6;padding:25px 30px 7px;margin-bottom:2em;}.chapter-introduction p{color:#494848;font-size:18px;font-size:1.8rem}.chapter-introduction strong{color:#af4545;font-family:"OswaldBold",Helvetica,Arial,Verdana,sans-serif;font-size:24px;font-size:2.4rem}ul.chapter-contents,ul.chapter-contents li{list-style:none;margin:0;padding:0}ul.chapter-contents{margin:30px 0 0 0}ul.chapter-contents li{float:left;margin:0 0 30px 30px;width:281px}ul.chapter-contents a,ul.chapter-contents a:visited{background-color:#ccdbdd;border:0;color:#333;display:block;font-family:"OswaldBold",Helvetica,Arial,Verdana,sans-serif;font-size:30px;font-size:3rem;padding:65px 25px 65px 94px;text-decoration:none;text-transform:uppercase}ul.chapter-contents .link-meeting a{background:#ccdbdd url(_img/icons/venue-large.png) 22px 50% no-repeat}ul.chapter-contents .link-committee a{background:#ccdbdd url(_img/icons/committee-large.png) 22px 50% no-repeat}ul.chapter-contents .link-news a{background:#ccdbdd url(_img/icons/news-large.png) 22px 50% no-repeat}ul.chapter-contents .link-links a{background:#ccdbdd url(_img/icons/news-large.png) 22px 50% no-repeat}ul.chapter-contents a:hover{background-color:#adc7ca;border:0;color:#af4545}table.committee{border:2px solid #7ca9ae;border-collapse:collapse;margin-bottom:1.5em;width:100%}table.committee thead td,table.committee tfoot td{background:#ccdbdd;border:2px solid #78a6ab;border-width:0 2px;font-family:"OswaldBold",Helvetica,Arial,Verdana,sans-serif;font-size:18px;font-size:1.8rem;padding:15px 10px;text-transform:uppercase}table.committee tbody th,table.committee tbody td{background:#e4ebec;border:2px solid #78a6ab;border-width:0 2px;font-size:15px;font-size:1.5rem;font-weight:400;padding:12px 8px;text-align:left;vertical-align:top}table.committee tbody tr:nth-child(2n+1) th,table.committee tbody tr:nth-child(2n+1) td{background-color:#fff}table.committee a{text-transform:lowercase}table.committee-chapter .position{width:35%}table.committee-chapter .name{width:30%}table.committee-chapter .email{width:35%}.meetings-index,.meetings-index dt,.meetings-index dd{display:block;list-style:none;margin:0;padding:0}.meetings-index dt{overflow:hidden;vertical-align:middle}.meetings-index a.link-meeting-year{background:#ccdbdd;border-bottom:1px solid #e0e9eb;color:#af4545;display:block;font-family:"OswaldBold",Helvetica,Arial,Verdana,sans-serif;font-size:32px;font-size:3.2rem;line-height:1;padding:14px 12px;text-decoration:none}.meetings-index a.link-meeting-year span{color:#333;font-size:18px;font-size:1.8rem;float:right;line-height:32px;line-height:3.2rem;text-transform:uppercase}.meetings-index a.link-meeting-year:hover{background:#7ca9ae;border-bottom:1px solid #7ca9ae}.meeting-year-list{border:2px solid #7ca9ae;border-width:2px 0;border-collapse:collapse;width:100%}.meeting-year-list a{text-decoration:none}.meeting-year-list th,.meeting-year-list td{padding:14px;vertical-align:top}.meeting-year-list td.meeting-table-detail{padding:6px 14px 10px 36px}.meeting-year-list th.meeting-head-date,.meeting-year-list td.meeting-table-date{border-right:2px solid #7ca9ae;width:100px}.meeting-year-list thead th{color:#dd9b5c;font-family:"OswaldBold",Helvetica,Arial,Verdana,sans-serif;font-size:18px;font-size:1.8rem;text-align:left;text-transform:uppercase}.meeting-year-list thead th.meeting-head-detail{padding:14px 14px 14px 36px}.meeting-year-list td.meeting-table-date{font-family:"OswaldBold",Helvetica,Arial,Verdana,sans-serif;font-size:24px;font-size:2.4rem;text-transform:uppercase}.meeting-year-list td.meeting-table-date a{color:#333}.meeting-year-list td .meeting-table-title{color:#494848;font-size:18px;font-size:1.8rem}.meeting-year-list td .meeting-table-speaker{color:#666;display:block}.meeting-year-list td a{display:block}.meeting-year-list tbody tr:hover td{background:#eaeaea}.meeting-year-list tbody tr:nth-child(2n+1) th,.meeting-year-list tbody tr:nth-child(2n+1) td{background:#fafafa}article.meeting hgroup h1,article.meeting .hgroup h1{font-size:28px;font-size:2.8rem;margin-bottom:0.65em;margin-top:0}article.meeting hgroup h2,article.meeting .hgroup h2{color:#333;font-size:22px;font-size:2.2rem;font-style:italic;margin-bottom:0.8em}article.meeting p.cpd{background-color:#e5e6e6;color:#6fa0a6;font-size:15px;font-size:1.5rem;font-style:italic;margin-top:2em;padding:2em}article.meeting .meeting-default-location{background-color:#e5e6e6;color:#666;font-size:15px;font-size:1.5rem;font-style:italic;margin-top:2em;padding:2em}article.meeting .meeting-default-location address{color:#666;display:block;font-style:normal;margin:0}article.meeting .meeting-note{background-color:#d2d2d2;color:#000;font-size:15px;font-size:1.5rem;margin:2em 0;padding:2em}.chapter-updates{background:#dd9b5c;color:#fff;padding:1.5em 1.25em}.chapter-updates h2{color:#fff;font-size:20px;font-size:2rem;text-transform:uppercase}.chapter-updates ul{margin:0 0 1.5em 2em}.chapter-updates li{color:#ccdbdd;margin-left:0}.chapter-updates span{color:#fff}.chapter-updates a,.chapter-updates a:visited{border:0;color:#fff;text-decoration:none}.chapter-updates a:hover{color:#af4545}.box-meeting{background-color:#e7e7e7;margin:0 0 10px}.box-meeting span{font-family:"Oswald",Helvetica,Arial,Verdana,sans-serif;font-size:20px;font-size:2rem;}.box-meeting span span{font-family:"OswaldLight",Helvetica,Arial,Verdana,sans-serif;font-size:16px;font-size:1.6rem;}.box-meeting p{margin:0}.meeting-flyer{background:#e7e7e7 url(_img/icons/info.png) 20px 18px no-repeat;padding:18px 18px 18px 70px}.meeting-downloads ul{background:#e7e7e7 url(_img/icons/download.png) 0 0 no-repeat;list-style:none;margin:0;padding:0 18px 0 50px}.meeting-downloads li{font-family:"OswaldLight",Helvetica,Arial,Verdana,sans-serif;font-size:18px;font-size:1.8rem;line-height:32px;list-style:none;margin:0 0 0.25em 0;padding:0}.meeting-downloads p.meeting-login-error{background:#e7e7e7 url(_img/icons/info.png) 0 18px no-repeat;color:#af4545;font-family:"OswaldBook",Helvetica,Arial,Verdana,sans-serif;font-size:15px;font-size:1.5rem;padding:18px 18px 18px 50px;text-transform:uppercase}.meeting-date{background:#e7e7e7 url(_img/icons/date.png) 20px 18px no-repeat;padding:18px 18px 18px 70px}.meeting-date span{font-size:22px;font-size:2.2rem}.meeting-award{background:#e7e7e7 url(_img/icons/awards.png) 20px 18px no-repeat;padding:18px 18px 18px 70px}.meeting-award span{font-size:22px;font-size:2.2rem}.meeting-committee{background:#e7e7e7 url(_img/icons/committee.png) 20px 18px no-repeat;padding:18px 18px 18px 70px}.meeting-committee span{font-size:22px;font-size:2.2rem}.meeting-history{background:#e7e7e7 url(_img/icons/history.png) 20px 18px no-repeat;padding:18px 18px 18px 70px}.meeting-history span{font-size:22px;font-size:2.2rem}.meeting-join{background:#e7e7e7 url(_img/icons/join.png) 20px 18px no-repeat;padding:18px 18px 18px 70px}.meeting-join span{font-size:22px;font-size:2.2rem}.meeting-link{background:#e7e7e7 url(_img/icons/links.png) 20px 18px no-repeat;padding:18px 18px 18px 70px}.meeting-link span{font-size:22px;font-size:2.2rem}.meeting-venue{background:#e7e7e7 url(_img/icons/venue.png) 20px 18px no-repeat;padding:18px 18px 18px 70px}.meeting-venue span{font-size:22px;font-size:2.2rem}.meeting-training{background:#e7e7e7 url(_img/icons/training.png) 20px 18px no-repeat;padding:18px 18px 18px 70px}.meeting-training span{font-size:22px;font-size:2.2rem}.meeting-video{background:#e7e7e7 url(_img/icons/videos.png) 20px 18px no-repeat;padding:18px 18px 18px 70px}.meeting-video span{font-size:22px;font-size:2.2rem}.meeting-time{background:#e7e7e7 url(_img/icons/time.png) 20px 18px no-repeat;padding:18px 18px 18px 70px}.meeting-cost{background:#e7e7e7 url(_img/icons/cost.png) 20px 18px no-repeat;padding:18px 18px 18px 70px}.meeting-rsvp{background:#e7e7e7 url(_img/icons/rsvp.png) 20px 18px no-repeat;padding:18px 18px 18px 70px}.meeting-location{background:#e7e7e7 url(_img/icons/location.png) 20px 20px no-repeat;padding:18px 18px 18px 70px}#mapLocation{border:5px solid #e7e7e7;height:309px;width:309px}.map-disclaimer{font-size:12px;font-size:1.2rem;font-weight:700;margin:10px 0;text-align:center}.sponsors dl{margin:1em 0 0}.sponsors dt{color:#6fa0a6;font-family:"OswaldLight",Helvetica,Arial,Verdana,sans-serif;text-transform:uppercase}.sponsors dd{padding:1em 0}.sponsors a{border:0}.sponsors ul.horizontal{margin-left:-1em}.sponsors ul.horizontal li{margin-left:1em}.category-event .entry-content ul,.category-event .entry-content li,.event-details,.event-details li{list-style:none;margin:0;padding:0}.event-details{background:#eaeaea;padding:20px 20px 10px;margin:10px 0}.category-event .entry-content li,.event-details li{font-size:16px;font-size:1.6rem;line-height:24px;margin:0 0 0.5em}.category-event .entry-content li.location,.event-details li.event-location{background:url(_img/icons/location24.png) 4px 0 no-repeat;padding:0 0 0 32px}.category-event .entry-content li.speaker,.event-details li.event-speaker{background:url(_img/icons/training.png) 4px 0 no-repeat;padding:0 0 0 32px}.category-event .entry-content li.time,.event-details li.event-time{background:url(_img/icons/time.png) 4px 0 no-repeat;padding:0 0 0 32px}.category-event .entry-content li.date,.event-details li.event-date{background:url(_img/icons/date24.png) 0 0 no-repeat;padding:0 0 0 32px}.category-event .entry-content li.pdf,.category-event .entry-content li.download,.event-details li.event-download{background:url(_img/icons/download24.png) 0 0 no-repeat;padding:0 0 0 32px}.category-event .entry-content li.web,.category-event .entry-content li.info,.event-details li.event-web{background:url(_img/icons/info24.png) 0 0 no-repeat;padding:0 0 0 32px}.filter,.filter li{list-style:none;margin:0;padding:0}.filter{background:#6FA0A6;margin-left:20px;overflow:hidden;padding:15px 12px 12px}.filter li{font-family:"OswaldBook",Helvetica,Arial,Verdana,sans-serif;float:left;line-height:1;margin:0 0 0 1em}.filter strong{color:#fff;font-size:16px;font-size:1.6rem;text-transform:uppercase}.filter label{font-size:16px;font-size:1.6rem}.filter input{margin-right:8px;vertical-align:middle}.hdr-icon{line-height:32px;margin-top:30px;padding-left:44px}.hdr-icon-date{background:url(_img/icons/date24.png) 0 0 no-repeat}.hdr-icon-people{background:url(_img/icons/committee.png) 0 0 no-repeat}.hdr-icon-info{background:url(_img/icons/info.png) 0 0 no-repeat}.hdr-icon-location{background:url(_img/icons/location.png) 0 0 no-repeat}.hdr-icon-venue{background:url(_img/icons/venue.png) 0 0 no-repeat}.hdr-icon-download{background:url(_img/icons/download.png) 0 0 no-repeat}.price{background:#6fa0a6;color:#fff;border-radius:5px;float:right;list-style:none;padding:10px;margin:8px 0 12px 16px}.oldprice{color:#ccc;display:block;text-decoration:line-through}article.list-courses{clear:both;padding:1em 0;border-top:1px solid #e1e1e1}article.list-courses:first-child{border:0}article.category-news,article.category-event{border-bottom:1px solid #e1e1e1;padding:0 20px 30px 0}.single article.category-news,.single article.category-event{border-bottom:0}article.category-news img{border:1px solid #e1e1e1;float:right;margin:0 0 1em 1em;padding:1px}article.category-news .wp-caption img{border:0;float:none;margin:0;padding:0}hgroup.journal{margin-left:20px}hgroup.journal h1{color:#6fa0a6;font-size:36px;font-size:3.6rem;margin-bottom:28px}hgroup.journal h2{color:#af4545;font-size:28px;font-size:2.8rem;margin-bottom:32px}article.paper hgroup h1{color:#dd9b5c;font-size:24px;font-size:2.4rem;margin-bottom:0.65em;margin-top:0}article.paper hgroup h2{color:#333;font-size:22px;font-size:2.2rem;font-style:italic;margin-bottom:0.8em}.paper-keywords,.paper-keywords li{list-style:none;margin:0;padding:0}.paper-keywords{overflow:hidden}.paper-keywords li{background:#e0dddd;border-radius:5px;font-size:15px;font-size:1.5rem;float:left;line-height:1;margin:0 10px 10px 0;padding:8px 12px;text-transform:capitalize}.paper-keywords li a{color:#494848;text-decoration:none}.paper-keywords li a:hover{color:#4a868d}.download-paper,.download-paper li{list-style:none;margin:0;padding:0}.download-paper li{display:block;font-family:"OswaldLight",Helvetica,Arial,Verdana,sans-serif;font-size:18px;font-size:1.8rem;line-height:32px;margin-top:15px;vertical-align:middle}.download-paper a{padding-bottom:8px;text-decoration:none;vertical-align:middle}.box-reference{background:transparent}.box-reference ul,.box-reference li{list-style:none;margin:0;padding:0}.box-reference li{border-top:1px solid #d6d6d6;padding:15px 0}.box-reference li:first-child{border:0}.box-reference abbr,.box-reference acronym{color:#af4545;font-family:"OswaldBook",Helvetica,Arial,Verdana,sans-serif}.single-entry{margin-top:3em}.timestamp{color:#666;font-style:italic}.box-promo{overflow:hidden}.box-promo h2{color:#F47C2D}.box-promo a{float:left}.box-promo-copy{float:right;width:400px}footer{clear:both;margin-top:48px;padding-bottom:28px}.home footer{margin-top:28px}#affiliates h1{color:#666;font-size:17px;font-size:1.7rem}#affiliates ul,#affiliates li{list-style:none;margin:0;padding:0}#affiliates ul{margin-left:-17px}#affiliates li{border-left:1px solid #e1e1e1;float:left;height:81px;margin-left:17px;padding:7px 0 0 17px;position:relative}#affiliates li:first-child{border:0;padding:7px 0 0 0}#affiliates a{display:block}#affiliates a img{opacity:0.6}#affiliates a:hover img{opacity:1}#affiliates .link-issmge a{margin-top:2px}#affiliates .link-ea a{margin-top:13px}#affiliates .link-lrm a{margin-top:8px}#base{float:right}#base ul,#base li{line-height:1;list-style:none;margin:0;padding:0}#base ul{margin-left:-8px;overflow:hidden;padding-bottom:14px}#base li{border-left:1px solid #694c3d;float:left;font-family:"OswaldBold",Helvetica,Arial,Verdana,sans-serif;font-size:10px;font-size:1rem}#base li:first-child{border:0}#base li a{color:#694c3d;font-size:17px;font-size:1.7rem;letter-spacing:0.025em;padding:0 8px;text-decoration:none;text-transform:uppercase}#base li a:hover{color:#000}#base p{border-top:1px solid #b5a7a0;clear:both;color:#694c3d;line-height:1.2;padding-top:16px}.alert,.failure{color:#b04746 !important}.warning{color:#de9c5d !important}.success{color:#7da756 !important}.row{margin-left:-20px;*zoom:1}.row:before,.row:after{display:table;line-height:0;content:""}.row:after{clear:both}[class*="span"]{float:left;margin-left:20px}.span14{width:1000px;}.span12{width:940px}.span11{width:860px}.span10{width:780px}.span9{width:700px}.span8{width:620px}.span7{width:540px}.span6{width:460px}.span5{width:380px}.span4{width:300px}.span3{width:220px}.span2{width:140px}.span1{width:60px}.offset12{margin-left:980px}.offset11{margin-left:900px}.offset10{margin-left:820px}.offset9{margin-left:740px}.offset8{margin-left:660px}.offset7{margin-left:580px}.offset6{margin-left:500px}.offset5{margin-left:420px}.offset4{margin-left:340px}.offset3{margin-left:260px}.offset2{margin-left:180px}.offset1{margin-left:100px}.offscreen{display:none}.clearfix{*zoom:1}.clearfix:before,.clearfix:after{display:table;line-height:0;content:""}.clearfix:after{clear:both}.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{position:static;clip:auto;height:auto;width:auto;margin:0;overflow:visible}.assist{position:absolute;left:-10000px;top:auto;width:1px;height:1px;overflow:hidden}.assist:focus{position:static;width:auto;height:auto}/*body.admin-bar{padding-top:28px}*/[class^="icon-"],[class*=" icon-"]{font-family:FontAwesome;font-weight:normal;font-style:normal;text-decoration:inherit;display:inline;width:auto;height:auto;line-height:normal;vertical-align:baseline;background-image:none !important;background-position:0 0;background-repeat:repeat}[class^="icon-"]:before,[class*=" icon-"]:before{text-decoration:inherit;display:inline-block;speak:none}a [class^="icon-"],a [class*=" icon-"]{display:inline-block}.icon-large:before{vertical-align:-10%;font-size:1.3333333333333333em}.btn [class^="icon-"],.nav [class^="icon-"],.btn [class*=" icon-"],.nav [class*=" icon-"]{display:inline;line-height:.6em}.btn [class^="icon-"].icon-spin,.nav [class^="icon-"].icon-spin,.btn [class*=" icon-"].icon-spin,.nav [class*=" icon-"].icon-spin{display:inline-block}li [class^="icon-"],li [class*=" icon-"]{display:inline-block;width:1.25em;text-align:center}li [class^="icon-"].icon-large,li [class*=" icon-"].icon-large{width:1.5625em}ul.icons{list-style-type:none;text-indent:-0.75em}ul.icons li [class^="icon-"],ul.icons li [class*=" icon-"]{width:.75em}.icon-muted{color:#eee}.icon-border{border:solid 1px #eee;padding:.2em .25em .15em;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}.icon-2x{font-size:2em}.icon-2x.icon-border{border-width:2px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.icon-3x{font-size:3em}.icon-3x.icon-border{border-width:3px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}.icon-4x{font-size:4em}.icon-4x.icon-border{border-width:4px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px}.pull-right{float:right}.pull-left{float:left}[class^="icon-"].pull-left,[class*=" icon-"].pull-left{margin-right:.35em}[class^="icon-"].pull-right,[class*=" icon-"].pull-right{margin-left:.35em}.btn [class^="icon-"].pull-left.icon-2x,.btn [class*=" icon-"].pull-left.icon-2x,.btn [class^="icon-"].pull-right.icon-2x,.btn [class*=" icon-"].pull-right.icon-2x{margin-top:.35em}.btn [class^="icon-"].icon-spin.icon-large,.btn [class*=" icon-"].icon-spin.icon-large{height:.75em}.btn.btn-small [class^="icon-"].pull-left.icon-2x,.btn.btn-small [class*=" icon-"].pull-left.icon-2x,.btn.btn-small [class^="icon-"].pull-right.icon-2x,.btn.btn-small [class*=" icon-"].pull-right.icon-2x{margin-top:.45em}.btn.btn-large [class^="icon-"].pull-left.icon-2x,.btn.btn-large [class*=" icon-"].pull-left.icon-2x,.btn.btn-large [class^="icon-"].pull-right.icon-2x,.btn.btn-large [class*=" icon-"].pull-right.icon-2x{margin-top:.2em}.icon-spin{display:inline-block;-moz-animation:spin 2s infinite linear;-o-animation:spin 2s infinite linear;-webkit-animation:spin 2s infinite linear;animation:spin 2s infinite linear}@-moz-keyframes spin{0%{-moz-transform:rotate(0deg)}100%{-moz-transform:rotate(359deg)}}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg)}}@-o-keyframes spin{0%{-o-transform:rotate(0deg)}100%{-o-transform:rotate(359deg)}}@-ms-keyframes spin{0%{-ms-transform:rotate(0deg)}100%{-ms-transform:rotate(359deg)}}@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}.icon-glass:before{content:"\f000"}.icon-music:before{content:"\f001"}.icon-search:before{content:"\f002"}.icon-envelope:before{content:"\f003"}.icon-heart:before{content:"\f004"}.icon-star:before{content:"\f005"}.icon-star-empty:before{content:"\f006"}.icon-user:before{content:"\f007"}.icon-film:before{content:"\f008"}.icon-th-large:before{content:"\f009"}.icon-th:before{content:"\f00a"}.icon-th-list:before{content:"\f00b"}.icon-ok:before{content:"\f00c"}.icon-remove:before{content:"\f00d"}.icon-zoom-in:before{content:"\f00e"}.icon-zoom-out:before{content:"\f010"}.icon-off:before{content:"\f011"}.icon-signal:before{content:"\f012"}.icon-cog:before{content:"\f013"}.icon-trash:before{content:"\f014"}.icon-home:before{content:"\f015"}.icon-file:before{content:"\f016"}.icon-time:before{content:"\f017"}.icon-road:before{content:"\f018"}.icon-download-alt:before{content:"\f019"}.icon-download:before{content:"\f01a"}.icon-upload:before{content:"\f01b"}.icon-inbox:before{content:"\f01c"}.icon-play-circle:before{content:"\f01d"}.icon-repeat:before{content:"\f01e"}.icon-refresh:before{content:"\f021"}.icon-list-alt:before{content:"\f022"}.icon-lock:before{content:"\f023"}.icon-flag:before{content:"\f024"}.icon-headphones:before{content:"\f025"}.icon-volume-off:before{content:"\f026"}.icon-volume-down:before{content:"\f027"}.icon-volume-up:before{content:"\f028"}.icon-qrcode:before{content:"\f029"}.icon-barcode:before{content:"\f02a"}.icon-tag:before{content:"\f02b"}.icon-tags:before{content:"\f02c"}.icon-book:before{content:"\f02d"}.icon-bookmark:before{content:"\f02e"}.icon-print:before{content:"\f02f"}.icon-camera:before{content:"\f030"}.icon-font:before{content:"\f031"}.icon-bold:before{content:"\f032"}.icon-italic:before{content:"\f033"}.icon-text-height:before{content:"\f034"}.icon-text-width:before{content:"\f035"}.icon-align-left:before{content:"\f036"}.icon-align-center:before{content:"\f037"}.icon-align-right:before{content:"\f038"}.icon-align-justify:before{content:"\f039"}.icon-list:before{content:"\f03a"}.icon-indent-left:before{content:"\f03b"}.icon-indent-right:before{content:"\f03c"}.icon-facetime-video:before{content:"\f03d"}.icon-picture:before{content:"\f03e"}.icon-pencil:before{content:"\f040"}.icon-map-marker:before{content:"\f041"}.icon-adjust:before{content:"\f042"}.icon-tint:before{content:"\f043"}.icon-edit:before{content:"\f044"}.icon-share:before{content:"\f045"}.icon-check:before{content:"\f046"}.icon-move:before{content:"\f047"}.icon-step-backward:before{content:"\f048"}.icon-fast-backward:before{content:"\f049"}.icon-backward:before{content:"\f04a"}.icon-play:before{content:"\f04b"}.icon-pause:before{content:"\f04c"}.icon-stop:before{content:"\f04d"}.icon-forward:before{content:"\f04e"}.icon-fast-forward:before{content:"\f050"}.icon-step-forward:before{content:"\f051"}.icon-eject:before{content:"\f052"}.icon-chevron-left:before{content:"\f053"}.icon-chevron-right:before{content:"\f054"}.icon-plus-sign:before{content:"\f055"}.icon-minus-sign:before{content:"\f056"}.icon-remove-sign:before{content:"\f057"}.icon-ok-sign:before{content:"\f058"}.icon-question-sign:before{content:"\f059"}.icon-info-sign:before{content:"\f05a"}.icon-screenshot:before{content:"\f05b"}.icon-remove-circle:before{content:"\f05c"}.icon-ok-circle:before{content:"\f05d"}.icon-ban-circle:before{content:"\f05e"}.icon-arrow-left:before{content:"\f060"}.icon-arrow-right:before{content:"\f061"}.icon-arrow-up:before{content:"\f062"}.icon-arrow-down:before{content:"\f063"}.icon-share-alt:before{content:"\f064"}.icon-resize-full:before{content:"\f065"}.icon-resize-small:before{content:"\f066"}.icon-plus:before{content:"\f067"}.icon-minus:before{content:"\f068"}.icon-asterisk:before{content:"\f069"}.icon-exclamation-sign:before{content:"\f06a"}.icon-gift:before{content:"\f06b"}.icon-leaf:before{content:"\f06c"}.icon-fire:before{content:"\f06d"}.icon-eye-open:before{content:"\f06e"}.icon-eye-close:before{content:"\f070"}.icon-warning-sign:before{content:"\f071"}.icon-plane:before{content:"\f072"}.icon-calendar:before{content:"\f073"}.icon-random:before{content:"\f074"}.icon-comment:before{content:"\f075"}.icon-magnet:before{content:"\f076"}.icon-chevron-up:before{content:"\f077"}.icon-chevron-down:before{content:"\f078"}.icon-retweet:before{content:"\f079"}.icon-shopping-cart:before{content:"\f07a"}.icon-folder-close:before{content:"\f07b"}.icon-folder-open:before{content:"\f07c"}.icon-resize-vertical:before{content:"\f07d"}.icon-resize-horizontal:before{content:"\f07e"}.icon-bar-chart:before{content:"\f080"}.icon-twitter-sign:before{content:"\f081"}.icon-facebook-sign:before{content:"\f082"}.icon-camera-retro:before{content:"\f083"}.icon-key:before{content:"\f084"}.icon-cogs:before{content:"\f085"}.icon-comments:before{content:"\f086"}.icon-thumbs-up:before{content:"\f087"}.icon-thumbs-down:before{content:"\f088"}.icon-star-half:before{content:"\f089"}.icon-heart-empty:before{content:"\f08a"}.icon-signout:before{content:"\f08b"}.icon-linkedin-sign:before{content:"\f08c"}.icon-pushpin:before{content:"\f08d"}.icon-external-link:before{content:"\f08e"}.icon-signin:before{content:"\f090"}.icon-trophy:before{content:"\f091"}.icon-github-sign:before{content:"\f092"}.icon-upload-alt:before{content:"\f093"}.icon-lemon:before{content:"\f094"}.icon-phone:before{content:"\f095"}.icon-check-empty:before{content:"\f096"}.icon-bookmark-empty:before{content:"\f097"}.icon-phone-sign:before{content:"\f098"}.icon-twitter:before{content:"\f099"}.icon-facebook:before{content:"\f09a"}.icon-github:before{content:"\f09b"}.icon-unlock:before{content:"\f09c"}.icon-credit-card:before{content:"\f09d"}.icon-rss:before{content:"\f09e"}.icon-hdd:before{content:"\f0a0"}.icon-bullhorn:before{content:"\f0a1"}.icon-bell:before{content:"\f0a2"}.icon-certificate:before{content:"\f0a3"}.icon-hand-right:before{content:"\f0a4"}.icon-hand-left:before{content:"\f0a5"}.icon-hand-up:before{content:"\f0a6"}.icon-hand-down:before{content:"\f0a7"}.icon-circle-arrow-left:before{content:"\f0a8"}.icon-circle-arrow-right:before{content:"\f0a9"}.icon-circle-arrow-up:before{content:"\f0aa"}.icon-circle-arrow-down:before{content:"\f0ab"}.icon-globe:before{content:"\f0ac"}.icon-wrench:before{content:"\f0ad"}.icon-tasks:before{content:"\f0ae"}.icon-filter:before{content:"\f0b0"}.icon-briefcase:before{content:"\f0b1"}.icon-fullscreen:before{content:"\f0b2"}.icon-group:before{content:"\f0c0"}.icon-link:before{content:"\f0c1"}.icon-cloud:before{content:"\f0c2"}.icon-beaker:before{content:"\f0c3"}.icon-cut:before{content:"\f0c4"}.icon-copy:before{content:"\f0c5"}.icon-paper-clip:before{content:"\f0c6"}.icon-save:before{content:"\f0c7"}.icon-sign-blank:before{content:"\f0c8"}.icon-reorder:before{content:"\f0c9"}.icon-list-ul:before{content:"\f0ca"}.icon-list-ol:before{content:"\f0cb"}.icon-strikethrough:before{content:"\f0cc"}.icon-underline:before{content:"\f0cd"}.icon-table:before{content:"\f0ce"}.icon-magic:before{content:"\f0d0"}.icon-truck:before{content:"\f0d1"}.icon-pinterest:before{content:"\f0d2"}.icon-pinterest-sign:before{content:"\f0d3"}.icon-google-plus-sign:before{content:"\f0d4"}.icon-google-plus:before{content:"\f0d5"}.icon-money:before{content:"\f0d6"}.icon-caret-down:before{content:"\f0d7"}.icon-caret-up:before{content:"\f0d8"}.icon-caret-left:before{content:"\f0d9"}.icon-caret-right:before{content:"\f0da"}.icon-columns:before{content:"\f0db"}.icon-sort:before{content:"\f0dc"}.icon-sort-down:before{content:"\f0dd"}.icon-sort-up:before{content:"\f0de"}.icon-envelope-alt:before{content:"\f0e0"}.icon-linkedin:before{content:"\f0e1"}.icon-undo:before{content:"\f0e2"}.icon-legal:before{content:"\f0e3"}.icon-dashboard:before{content:"\f0e4"}.icon-comment-alt:before{content:"\f0e5"}.icon-comments-alt:before{content:"\f0e6"}.icon-bolt:before{content:"\f0e7"}.icon-sitemap:before{content:"\f0e8"}.icon-umbrella:before{content:"\f0e9"}.icon-paste:before{content:"\f0ea"}.icon-lightbulb:before{content:"\f0eb"}.icon-exchange:before{content:"\f0ec"}.icon-cloud-download:before{content:"\f0ed"}.icon-cloud-upload:before{content:"\f0ee"}.icon-user-md:before{content:"\f0f0"}.icon-stethoscope:before{content:"\f0f1"}.icon-suitcase:before{content:"\f0f2"}.icon-bell-alt:before{content:"\f0f3"}.icon-coffee:before{content:"\f0f4"}.icon-food:before{content:"\f0f5"}.icon-file-alt:before{content:"\f0f6"}.icon-building:before{content:"\f0f7"}.icon-hospital:before{content:"\f0f8"}.icon-ambulance:before{content:"\f0f9"}.icon-medkit:before{content:"\f0fa"}.icon-fighter-jet:before{content:"\f0fb"}.icon-beer:before{content:"\f0fc"}.icon-h-sign:before{content:"\f0fd"}.icon-plus-sign-alt:before{content:"\f0fe"}.icon-double-angle-left:before{content:"\f100"}.icon-double-angle-right:before{content:"\f101"}.icon-double-angle-up:before{content:"\f102"}.icon-double-angle-down:before{content:"\f103"}.icon-angle-left:before{content:"\f104"}.icon-angle-right:before{content:"\f105"}.icon-angle-up:before{content:"\f106"}.icon-angle-down:before{content:"\f107"}.icon-desktop:before{content:"\f108"}.icon-laptop:before{content:"\f109"}.icon-tablet:before{content:"\f10a"}.icon-mobile-phone:before{content:"\f10b"}.icon-circle-blank:before{content:"\f10c"}.icon-quote-left:before{content:"\f10d"}.icon-quote-right:before{content:"\f10e"}.icon-spinner:before{content:"\f110"}.icon-circle:before{content:"\f111"}.icon-reply:before{content:"\f112"}.icon-github-alt:before{content:"\f113"}.icon-folder-close-alt:before{content:"\f114"}.icon-folder-open-alt:before{content:"\f115"}@media only screen and (max-width: 480px){html{font-size:7px}}@media only screen and (min-width: 480px) and (max-width: 640px){html{font-size:8px}}@media only screen and (min-width: 641px) and (max-width: 980px){html{font-size:8px}}@-ms-viewport{width:device-width}@-o-viewport{width:device-width}
#im {
    /*background:transparent url(http://cdn.imaginarymedia.com.au/brand.png) 100% 10px no-repeat;*/
    border-top:1px solid #e1e1e1;
    clear:both;
    color:#a1a1a1;
    font-size:10px;
    font-size:1rem;
    line-height:15px;
    padding:12px 24px 20px;
    text-align:right;
    text-transform:uppercase
}
#im a {
    color:#a1a1a1;
    text-decoration:none
}
.top-banner a {
    float: left;
    width: 50%;
}
.top-banner a:only-child {
    width: 100%;
}
.top-banner a img {
    width: 100%;
}