.l-padding-40 {
  padding-left: 40px;
}

.span-full {
  width: 100%;
}

.section-account {
  background: #A39188;
  height: 12em;
  position: relative;
  width: 100%;
  z-index: 10;
  -webkit-box-shadow: inset 0 8px 5px -5px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 0 8px 5px -5px rgba(0,0,0,0.4);
  box-shadow: inset 0 8px 5px -5px rgba(0,0,0,0.4);
  transition: margin 500ms ease-in-out;
  -moz-transition: margin 500ms ease-in-out;
  -webkit-transition: margin 500ms ease-in-out;
  -o-transition: margin 500ms ease-in-out;
  margin: -12em 0 0;
}
.nav-box-inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  height: 12em;
  margin: -1000px 0 0 0;
  transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  -webkit-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
}
.nav-box-inner.active {
  opacity: 1;
  margin: 0 0 0 0;
  transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  -webkit-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
}
.section-account.active {
  margin-top: 0;
}
.nav-buttons {
  padding-top: 10px;
}
.nav-buttons ul li.btn-login a,
.nav-buttons ul li.btn-account a {
  background: #786256;
}
.nav-buttons ul li.btn-search a {
  background: #a39188;
}

.account-inner {
  background: #786256;
}
.user-controls {
  margin: 15px 0 0 0;
  position: relative;
}
.user-controls li {
  float: left;
  list-style: none;
}
.user-controls li a {
  color: #d1c9c5;
  font-size: 16px;
  border-bottom: 1px solid white; /* Or whatever color you want */
  text-decoration: none;
  margin: 0 40px 0 0;
}
.user-controls li a:hover {
  color: white;
}
.user-controls li.right {
  position: absolute;
  right: 0;
  margin: 0;
}
.user-welcome {
  color: white;
  font-size: 24px;
  margin: 20px 0 0 0;
  font-weight: 200;
}
.user-chapter {
  margin-bottom: 10px;
}
.section-light {
  padding: 40px;
  background: #e6ebee;
  overflow: hidden;
}
.section-light.search-result {
  margin: 0 0 20px 0;
}
.section-light.search-result:nth-child(odd) {
  background: #d5e0e2;
}
.section-light.search-result p {
  font-size: 1.1em;
  margin: 0;
}
.end-search-content {
  font-size: 1.2em;
  margin: 40px 0 10px 0;
}
.section-light h2,
.section-light h2 a {
  color: black;
  text-decoration: none;
}
.section-light h2 a:hover {
  color: #af4545;
  text-decoration: underline;
}
.section-light p {
  font-size: 1.7rem;
  margin: 0 0 20px 0;
}
.section-light li {
  font-size: 1.6rem;
  margin: 0 0 0 20px;
}

.section-light p.journal-date {
  font-size: 1.5rem;
  margin: 0 0 10px 0;
}
.section-light h3 {
  color: #af4545;
  text-decoration: none;
}
.section-light .journal-tag {
  width: 430px;
  float: left;
  color: black;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "OswaldBook", Helvetica, Arial, Verdana, sans-serif;
  display: block;
}

.section-light.journal-header img{
  max-width: 250px;
  max-height: 400px;
}

.section-light.journal-header .content-excerpt {
  max-width: 550px;
}

.download-box {
  background: #d5e0e2;
  margin: 20px 0 20px 0;
  overflow: hidden;
}
.download-box .left {
  padding: 35px 0 0 40px;
  float: left;
  width: 40px;
}
.download-box .journal-link {
  padding: 35px 40px 30px 15px;
  float: left;
  width: 740px;
}
.download-box .journal-link a {
  color: #528c90;
  font-size: 2.5rem;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "OswaldBook", Helvetica, Arial, Verdana, sans-serif;
}
.download-box .journal-link a:hover {
  color: #af4545;
}
.download-box.inside-box {
  background: transparent;
  padding: 0;
}
.download-box.inside-box:last-child {
  margin-bottom: 0;
}
.download-box.inside-box .left {
  padding: 0;
}
.download-box.inside-box .journal-link {
  padding: 0;
}



.search-section {
  margin: 0 0 30px 0;
}
.search-left {
  float: left;
  width: 70px;
}
.search-right {
  float: left;
  width: 830px;
}
.search-right #searchform {
  margin: 0;
  background: transparent;
  padding: 0;
}
.search-right #searchform input.field {
  color: black;
  font-size: 2.0rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "OswaldBook", Helvetica, Arial, Verdana, sans-serif;
  border: 1px solid #cbccce;
  border-radius: 10px;
  padding: 5px;
  width: 700px;
}
.breadcrumbs {
  margin: 0 0 20px 0;
}
.breadcrumbs a {
  font-family: "OswaldBook", Helvetica, Arial, Verdana, sans-serif;
  color: #61939c;
  font-weight: 700;
  font-size: 1.9rem;
  text-decoration: none;
  position: relative;
}
.breadcrumbs a img {
  position: absolute;
  left: -50px;
  top: 0;
  display: block;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}
.breadcrumbs a.pointer {
  text-decoration: none;
  cursor: pointer;
}
.breadcrumbs a.pointer:hover {
  text-decoration: underline;
}
.accordion-result {
  background: #e6ebee;
  overflow: hidden;
  position: relative;
}
.issues .accordion-result {
  background: #d5e0e2;
  overflow: hidden;
  position: relative;
}
.accordion-result:nth-child(even) {
  background: #d5e0e2;
}
.issues .accordion-result:nth-child(even) {
  background: #e6ebee;
}
.accordion-result .month {
  width: 100px;
  padding: 20px 0 15px 40px;
  float: left;
  font-size: 1.1em;
  font-weight: 100;
  font-family: "OswaldBook", Helvetica, Arial, Verdana, sans-serif;
}
.accordion-result .entry {
  padding: 14px 0 10px 0;
  width: 700px;
  float: left;
}
.accordion-result .entry h2 {
  margin: 0;
}

.accordion-result .entry h2 a {
  color: black;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "OswaldBook", Helvetica, Arial, Verdana, sans-serif;
  text-decoration: none;
}
.accordion-result .arrow {
  padding: 0 0 0 20px;
}
.accordion-result .pdf {
  position: absolute;
  right: 40px;
  top: 13px;
}
.navigation {
  text-align: center;
}
.navigation li {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.navigation li.prev {
  float: left;
}
.navigation li.next {
  float: right;
}
.navigation li.next a {
  margin: 0;
}
.archive-date-button,
.navigation li a {
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  font-weight: 700;
  font-family: "OswaldBook", Helvetica, Arial, Verdana, sans-serif;
  color: #bb4f4c;
  background: #fbfbfb;
  padding: 3px 15px;
  font-size: 1.4em;
  float: none;
  text-align: center;
  width: 48px;
  margin: 0 20px 0 0;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}
.navigation li a {
  width: auto;
}
.navigation li.dotdot {
  width: auto;
  margin: 0 20px 0 0;
}

.navigation li a.disabled {
  color: #ebd5d7;
}
.archive-date-button:last-child {
  margin: 0;
}
.archive-date-button:hover,
.navigation li a:hover {
  color: black;
  background: #e6ebee;
}
.archive-date-button.active,
.navigation li.active a{
  background: #bb4f4c;
  color: #fbfbfb;
  border-color: #bb4f4c;
}
.archive-date-button.active .point {
  position: absolute;
  bottom: -27px;
  width: 15px;
  height: 7px;
  display: block;
  left: 32px;
  background: white url(_img/archive-point-light.png) 0 0 no-repeat;
}
.accordion-container {
  max-height: 0;
  overflow: hidden;
  margin: 15px 0 25px 0;
}
.accordion-container.active {
  max-height: 1000px;
  transition: max-height 300ms ease-in-out;
  -moz-transition: max-height 300ms ease-in-out;
  -webkit-transition: max-height 300ms ease-in-out;
  -o-transition: max-height 300ms ease-in-out;
}
.archive-date-accordion {
  max-height: 0;
  overflow: hidden;
  width: 980px;
  margin: 0;
  transition: max-height 300ms ease-in-out;
  -moz-transition: max-height 300ms ease-in-out;
  -webkit-transition: max-height 300ms ease-in-out;
  -o-transition: max-height 300ms ease-in-out;
}
.archive-date-accordion.active {
  max-height: 1000px;
  transition: max-height 300ms ease-in-out;
  -moz-transition: max-height 300ms ease-in-out;
  -webkit-transition: max-height 300ms ease-in-out;
  -o-transition: max-height 300ms ease-in-out;
}

.accordion-header {
  overflow: hidden;
  padding: 40px;
  background: #e6ebee;
  width: 900px;
}
.issues .accordion-header {
  overflow: hidden;
  padding: 20px 0 0 40px;
  background: #d5e0e2;
  width: auto;
}
.issues .month {
  width: 50px;
}

.accordion-header h2 {
  width: 840px;
  float: left;
}
.accordion-header .close {
  float: right;
  cursor: pointer;
}
.content-archive h2 {
  color: black;
  font-size: 1.8em;
  margin: 0 0 10px 0;
}
.date-buttons {
  height: 40px;
}

#account-settings input.text-input {
  float: right;
  width: 500px;
  color: black;
  font-size: 2.0rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "OswaldBook", Helvetica, Arial, Verdana, sans-serif;
  border: 1px solid #cbccce;
  border-radius: 10px;
  padding: 5px
}

#account-settings input.submit {
  width: 100px;
  float: none;
  margin: 40px auto;
  display: block;
}
.error {
  color: red;
  border: 1px solid red;
  padding: 10px;
  margin: 0 0 20px 0;
}
.good {
  color: #008000;
  border: 1px solid #008000;
  padding: 10px;
  margin: 0 0 20px 0;
}
.js .section-search {
  margin: -8em 0 0;
  background: white;
  height: 8em;
}
.section-search.active.start-open,
.section-search.active.start-open .account-inner {
  transition: margin none;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
}
.js .section-search.active.not-logged-in,
.section-search.active.start-open.not-logged-in {
  transition: margin none;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
  margin-top: -8em;
}
.js .section-search.active.not-logged-in.search-active,
.section-search.active.start-open.not-logged-in.search-active {
  transition: margin 500ms ease-in-out;
  -moz-transition: margin 500ms ease-in-out;
  -webkit-transition: margin 500ms ease-in-out;
  -o-transition: margin 500ms ease-in-out;
  margin-top: 0;
}

/*Classes to push elements down absolutely*/
.offset-top {
  margin-top: 78px;
}

.offset-top-32 {
  margin-top: 32px;
}

.nav-box-inner {
  height: 8em;
}
.search-inner {
  background: #A39188;
}
/*Box link containers*/
.box-content {
  background-color: #d5dee0;
  padding: 0;
}

.h2-black-alt {
  background: none;
  box-shadow: none;
  display: block;
  padding: 0 0;
  color: black;
}

.box .h2-black-alt {
  font-size: 24px;
  font-size: 2.4rem;
}

.box-content h2{
  background: none;
  box-shadow: none;
  display: block;
  padding: 0 0;
  color: black;
  font-size: 24px;
  font-size: 2.4rem;
}

.link-table td {
  padding-left: 0;
}

.link-table :not(:last-child) {
  padding-bottom: 20px;
}

.box-resources {
  padding: 20px;
  margin-bottom: 20px;
}

.centered {
  text-align: center;
}

.box-resources img {
  margin: 10px auto;
  display: block;
  width: 40px;
  height: 40px;
}

.box-resources.content {
  padding: 40px;
}

.box-resources.content h2 {
  margin: 0;
  margin-bottom: 1.05em;
}

.box-resources.content p {
  font-size: 1.0em;
}

.page-header {
  margin-top: 60px;
  margin-bottom: 20px;
}

.page-header h1 {
  display: inline-block;
  margin-bottom: 0px;
  margin-top: 0px;
}

.page-header h2 {
  display: inline-block;
}

.resource-search {
  padding: 40px;
}

.resource-search p {
  font-size: 16px;
  padding-right: 25px;
}

.resource-sort {
  margin-top: 10px;
}

.resource-sort select {
  margin-left: 5px;
}

.resource-sort form {
  display: inline;
}

.resource-item, .resource-search-item {
  padding: 24px 50px 20px 20px;
  margin-bottom: 40px;
}

.resource-item p{
  line-height: 30px;
}

.resource-item h3, .resource-search-item h3 {
  font-size: 1.8em;
  font-weight: 100;
}

.resource-search-item h3 {
  margin-bottom: 30px;
}

.resource-item h2 {
  margin-top: 25px;
  font-size: 20px;
}

.resource-item-properties {
  font-size: 14px;
  margin: 25px 0;
  line-height: 27.5px;
}

.resource-search-item h2 {
  margin-top: 7.5px;
  margin-bottom: 0;
}

.resource-search-properties {
  font-size: 14px;
  margin: 10px 0;
  line-height: 27.5px;
}

.resource-file {
  position: relative;
  margin-top: 15px;
  padding: 10px 0 10px 50px;
}

.resource-file a {
  text-decoration: none;
}

.resource-file .pdf {
  position: absolute;
  left: -7px;
  top: -7px;
}

.see-more {
  margin-top: 50px;
}

.see-more p {
  margin-bottom: 0.5em;
}

.btn-pagination {
  text-transform: uppercase;
  font-size: 20px;
  color: #a23b3d;
  padding: 5px 10px;
  border: 1px solid #bfbfc1;
  border-radius: 2.5px;
  background-color: #efeff0;
  box-shadow: none;
  min-width: 35px;
}

.btn-pagination:hover {
  color: #efeff0;
  border-color: #a23b3d;
  background-color: #a23b3d;
}

.prev-page, .next-page, .pip-page{
  display: inline-block;
}

.next-page {
  text-align: right;
}

.pip-page {
  margin: 0 auto;
  text-align: center;
  width: 827px;
}

.page-footer .span14 {
  width: 100%;
}

.btn-add-resource {
  font-family: "OswaldBook", Helvetica, Arial, Verdana, sans-serif;
  color: white;
  font-weight: 700;
  padding: 17px 0;
  text-transform: uppercase;
  font-size: 1.2em;
  border: none;
  background-color: #a23b3d;
  max-height: 50px;
}

input.btn-add-resource {
  padding: 17px 17px;
}

.btn-add-resource a{
  color: white;
  text-decoration: none;
  padding: 17px 16px 17px 16px;
}

.span3.add-resource {
  width: 200px;
  padding-top: 32px;
  text-align: right;
  margin: 0;
}

.resource-input-field {
  display: block;
  margin: 0 0 40px 40px;
}

.resource-input-field h3 {
  color: black;
  margin-bottom: 5px;
  font-size: 1.5em;
}

.resource-input-field input {
  display: block;
  margin-bottom: 5px;
}

.resource-input-field ::-webkit-input-placeholder {
  color: #bdbebe;
  font-style: italic;
}

.resource-input-field :-moz-placeholder {
  color: #bdbebe;
  font-style: italic;
}

.resource-input-field ::-moz-placeholder {
  color: #bdbebe;
  font-style: italic;
}

.resource-input-field :-ms-input-placeholder {
  color: #bdbebe;
  font-style: italic;
}

.resource-input-field [type*=text] {
  height: 28px;
  width: 660px;
  border-radius: 5px;
  border: #cecece solid 1px;
  font-size: 16px;
  padding: 5px;
}

.resource-input-field [type*=file] {
  font-style: italic;
  font-size: 13px;

  color: #bdbebe;
}

.resource-input-field .btn-upload::before {
  background-color: blue;
}

.input-sub-script {
  width: 550px;
}

.input-warning {
  display: block;
}

.input-warning.active {
  color: red;
}

.resource-input-field textarea {
  height: 240px;
  width: 660px;
  border-radius: 5px;
  border: #cecece solid 1px;
  font-size: 16px;
  padding: 5px;
}

.resource-input-field i {
  color: #bdbebe;
  font-size: 0.8em;
  width: 200px;
}

.box-dash {
  padding: 0;
}

.box .box-content {
  padding: 40px;
}

.box-content h2 {
  color: black;
  font-weight: bold;
  margin-bottom: 5px;
}

.box-content em {
  font-style: normal;
  font-size: 0.8em;
}

.box-content p {
  padding-top: 10px;
  font-size: 1.7rem;
}

.box-link-see-more {
  height: 100px;
  width: 100%;
  background-color: #c1d0d2;
}

.box-link-see-more h3{
  padding-left: 40px;
  margin: 15px 0;
}

.box-link-see-more .link-pdf, .box-link-see-more .link-history {
  padding: 20px 0 20px 40px;
  height: 60px;
}

.link-history {
  background:transparent url(_img/icons/history.png) 40px 50% no-repeat;
  background-size: 30px;
}

.link-pdf {
  background:transparent url(_img/icons/pdf.png) 40px 50% no-repeat;
  background-size: 30px;
}

.link-arrow-right-red {
  background:transparent url(_img/icons/arrow-right-red.png) 200px 50% no-repeat;
  background-size: 25px;
}

.link-arrow-right-red {
  background:transparent url(_img/icons/arrow-right-red.png) 200px 50% no-repeat;
  background-size: 25px;
}

.link-hover {
  cursor: pointer;
}

.link-hover h2:hover {
  color: #af4545;
}

.tag-seminar {
  background-color: #e24e1c;
  border-color: #e24e1c;
}

.tag-resource {
  background-color: #47711f;
  border-color: #47711f;
}

.home-dashboard section{
  border: none;
  margin-left: 0;
  margin-right: 0;
}

.home-dashboard .main {
  padding-right: 20px;
}

.home-dashboard .sidebar {
  margin-right: 0;
}

.in-this-issue {
  width: 100%;
  padding: 0;
}

.in-this-issue td {
  font-size: 18px;
  font-weight: 700;
  font-family: "OswaldBook";
  text-transform: uppercase;
  padding-left: 0;
  width: 50%;
}

.box-icon {
  box-sizing: border-box;
  text-align: center;
  height: 220px;
}

.box-icon img {
  margin: 24px auto;
}

.box-icon .h2-black-alt {
  font-size: 28px;
  font-size: 2.8rem;
}

.box-next-meeting p {
  margin-bottom: 0;
}

.box-next-meeting a {
  margin-left: 0;
}

#content-show h2:first-child {
  margin-top: 0;
}

.box-courses h2 {
  margin-top: 40px;
}

.box-courses li {
  font-size: 1.7rem;
  margin-bottom: 5px;
  margin-left: 17px;
}

.box-courses p{
  margin-bottom: 1em;
}

.box-meeting-alt {
  padding: 20px 15px;
}

.course-register-form {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease;
}

.course-register-form.active {
  max-height: 500px;
}

.course-register-form h1 {
  margin-bottom: 18px;
}

.btn-form-submit {
  box-sizing: border-box;
  font-size: 15px;
  padding: 9px 25px;
  display: inline-block;
  background-color: #edeff0;
  border: #bfbfc2 solid 1px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.btn-form-submit:hover {
  background-color: #bfbfc2;
}

.course-register-btn {
  margin-left: 372px;
}

.course-register-field p {
  display: inline;
}

.course-register-field {
  position: relative;
  height: 40px;
  margin: 10px 0 20px 0;
}

.course-register-field h2 {
  width: 120px;
  margin: 5px 0 10px 0;
  font-size: 24px;
  top: 50%;
  margin-top: -14px;
  display: inline-block;
}

ul.chapter-contents li {
  margin: 0px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 220px;
}

ul.chapter-contents li:nth-child(3) {
  margin-right: 0;
}

ul.chapter-contents a{
  padding: 120px 0 70px 0;
  text-align: center;
}

ul.chapter-contents .link-meeting-alt a {
   background:#ccdbdd url(_img/icons/ags-meetings-icon.svg) 50% 15%/70px 70px no-repeat;
}
ul.chapter-contents .link-committee-alt a {
  background:#ccdbdd url(_img/icons/ags-com-directory-icon.svg) 50% 15%/70px 70px no-repeat;
}
ul.chapter-contents .link-resources-alt a {
  background:#ccdbdd url(_img/icons/ags-resources-icon.svg) 50% 15%/70px 70px no-repeat;
}
ul.chapter-contents .link-news-alt a {
  background:#ccdbdd url(_img/icons/ags-news-icon.svg) 50% 15%/70px 70px no-repeat;
}
ul.chapter-contents .link-links-alt a {
  background:#ccdbdd url(_img/icons/ags-link-icon.svg) 50% 15%/70px 70px no-repeat;
}
.course-register-field input {
  left: 120px;
  width: 340px;
  height: 25px;
  border-radius: 5px;
  font-size: 20px;
  border: #b6b6b6 solid 1px;
  padding: 10px 0 5px 10px;
}

#more-info {
  max-height: 250px;
  -webkit-transition: max-height 0.2s ease, height 0.2s ease;
  transition: max-height 0.2s ease, height 0.2s ease;
  position: relative;
}

#more-info.active{
  max-height: 2500px;
  -webkit-transition: max-height 0.2s ease, height 0.2s ease;
  transition: max-height 0.2s ease, height 0.2s ease;
}

#more-info.active p:not(:first-child){
  /*//display: block;*/
}

#more-info p:not(:first-child){
  /*//display: none;*/
}

#content-hidden {
  visibility: hidden;
  height: 0px;
}

.content-excerpt .journal-date {
  font-style: italic;
}

.content-excerpt p{
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.content-excerpt li {
  margin-left: 15px;
}

/*
body.admin-bar {
  padding-top: 0!important;
}
#wpadminbar {
  display: none;
}
*/

/* New header nav over-writes */
header nav ul ul {
  background: transparent!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  padding: 13px 30px 15px 30px!important;
  left: -21px!important;
  top: 20px!important;
}
header nav ul ul li {
  background: white!important;
}
header nav button {
  display: none;
}
@media only screen and (max-width: 980px) {

  header nav.mobile-nav {
    overflow: hidden;
  }
  header nav.mobile-nav .menu-header {
    overflow: hidden;
  }
  header nav.mobile-nav ul {
    display: none;
  }
  header nav.mobile-nav.active ul {
    display: block;
    margin: 0;
    padding: 0;
    background: white;
    overflow: hidden;
  }
  header nav.mobile-nav.active ul li {
    float: none;
  }
  header nav.mobile-nav.active ul li a {
    padding: 10px;
  }
  header nav.mobile-nav.active ul ul {
    position: relative;
    padding: 0;
    display: inline;
    float: none;
  }
  header nav.mobile-nav.active ul ul li {
    padding-left: 10px;
  }
  header nav.mobile-nav button {
    display: block;
    border: none;
    background: white;
    font-family: "OswaldBook",Helvetica,Arial,Verdana,sans-serif;
    color: #af4545;
    padding: 6px 10px;
    text-transform: uppercase;
    font-size: 16px;
  }
}

.size-full {
  margin-bottom: 45px;
}

.margin-bottom-45 {
  margin-bottom: 45px;
}

.box .box {
  margin: 0;
}

.meeting-none {
  padding: 20px;
}

.ac-container {
  width: 100%;
  margin: 10px auto 30px auto;
  text-align: left;
}

.ac-container .box {
  padding: 0;
}

.ac-container label {
  height: 30px !important;
  font-family: "Oswald",Helvetica,Arial,Verdana,sans-serif;
  font-size: 28px !important;
  padding: 5px 38px 5px 5px;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: 20;
  display: block;
  height: 30px;
  cursor: pointer;
  color: #777;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
  background: #fff;
  background: -moz-linear-gradient(top,#fff 1%,#eaeaea 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(1%,#fff),color-stop(100%,#eaeaea));
  background: -webkit-linear-gradient(top,#fff 1%,#eaeaea 100%);
  background: -o-linear-gradient(top,#fff 1%,#eaeaea 100%);
  background: -ms-linear-gradient(top,#fff 1%,#eaeaea 100%);
  background: linear-gradient(top,#fff 1%,#eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff',endColorstr='#eaeaea',GradientType=0 );
  box-shadow: 0 0 0 1px rgba(155,155,155,0.3),1px 0 0 rgba(255,255,255,0.9) inset,0 2px 2px rgba(0,0,0,0.1);
}

.ac-container label:hover {
  background: #e7e7e7;
}

.ac-container input:checked + label,.ac-container input:checked + label:hover {
  background: #f1f2f3;
  color: #333;
  text-shadow: 0 1px 1px rgba(255,255,255,0.6);
  box-shadow: 0 0 0 1px rgba(155,155,155,0.3),0 2px 2px rgba(0,0,0,0.1);
}

.ac-container label:after,.ac-container input:checked + label:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
  background: transparent url(_img/icons/arrow-up.png) no-repeat center center;
  background-size: cover;
}

.ac-container input:checked + label:after {
  background-image: url(_img/icons/arrow-down.png);
}

.ac-container input {
  display: none;
}

.ac-container article {
  background: rgba(255,255,255,0.5);
  margin-top: -1px;
  overflow: hidden;
  max-height: 0;
  position: relative;
  z-index: 10;
  -webkit-transition: max-height 0.3s ease-in-out,box-shadow 0.6s linear;
  -moz-transition: max-height 0.3s ease-in-out,box-shadow 0.6s linear;
  -o-transition: max-height 0.3s ease-in-out,box-shadow 0.6s linear;
  -ms-transition: max-height 0.3s ease-in-out,box-shadow 0.6s linear;
  transition: max-height 0.3s ease-in-out,box-shadow 0.6s linear;
}

.ac-container input:checked ~ article {
  -webkit-transition: max-height 0.5s ease-in-out,box-shadow 0.1s linear;
  -moz-transition: max-height 0.5s ease-in-out,box-shadow 0.1s linear;
  -o-transition: max-height 0.5s ease-in-out,box-shadow 0.1s linear;
  -ms-transition: max-height 0.5s ease-in-out,box-shadow 0.1s linear;
  transition: max-height 0.5s ease-in-out,box-shadow 0.1s linear;
  box-shadow: 0 0 0 1px rgba(155,155,155,0.3);
  max-height: 500px;
  padding: 10px 0;
  background-color: #e7e7e7;
}

.slideshow-information,
.slideshow-info-heading,
.slideshow-info-content {
  font-family: "Helvetica Neue", "Myriad Pro", Myriad, Helvetica, Arial, sans-serif !important;
}